@media (max-width: 1280px){
    h1{
        font-size: 200px;
    }
}
@media (max-width: 1024px){
    h1{
        font-size: 150px;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 100px;
    }
}
@media (max-width: 480px){
    h1{
        font-size: 10px;
    }
}