/*
-------------------------------
| 🔹 flex
-------------------------------
- Syntax        : flex: <flex-grow> <flex-shrink> <flex-basis> | none | auto;
- Default Value : 0 1 auto
- Description   : A shorthand property for setting flex-grow, flex-shrink, and flex-basis 
                  of a flex item in a single declaration.
*/





/* Global styles - applied to all elements for better appearance */
*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: azure;
}
.container{
    width: 90%;
    margin: 0 auto;
    background-color: #355872;
    color: #F7F8F0;
    border-radius: 15px;
    padding: 20px;
}
.item{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    margin: 10px;
    text-align: center;
}


/* flex: <flex-grow> <flex-shrink> <flex-basis>, none, auto */
.container{
    display: flex;
}
.one{
    flex: 2 0 200px;
}
.five{
    flex: 4 0 400px;
}